---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=LlzEtltMbhRTORzfflzXOWW0kFH38mAC&location=seattle,wa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 17:15:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"seattle,wa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LlzEtltMbhRTORzfflzXOWW0kFH38mAC&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1598098009"}]}]}'
  recorded_at: Mon, 26 Sep 2022 17:15:27 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&exclude=minutely,alerts&lat=47.603229&lon=-122.33028&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1664212528,"sunrise":1664200894,"sunset":1664243975,"temp":66.25,"feels_like":65.88,"pressure":1016,"humidity":70,"dew_point":56.19,"uvi":1.44,"clouds":0,"visibility":10000,"wind_speed":5.01,"wind_deg":238,"wind_gust":5.99,"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50d"},{"id":711,"main":"Smoke","description":"smoke","icon":"50d"}]},"hourly":[{"dt":1664211600,"temp":66.25,"feels_like":65.88,"pressure":1016,"humidity":70,"dew_point":56.19,"uvi":1.44,"clouds":0,"visibility":10000,"wind_speed":1.14,"wind_deg":315,"wind_gust":1.43,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664215200,"temp":67.84,"feels_like":67.33,"pressure":1016,"humidity":64,"dew_point":55.22,"uvi":2.53,"clouds":11,"visibility":10000,"wind_speed":1.72,"wind_deg":316,"wind_gust":1.36,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1664218800,"temp":71.26,"feels_like":70.72,"pressure":1016,"humidity":56,"dew_point":54.77,"uvi":3.74,"clouds":18,"visibility":10000,"wind_speed":1.45,"wind_deg":313,"wind_gust":0.94,"weather":[{"id":801,"m[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=seattle,wa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.341 TT 0 0.361"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 5271,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8290516W",
                    "type": "work",
                    "seed": [
                        "/books/OL8227475M",
                        "/works/OL8290516W",
                        "/authors/OL2754912A"
                    ],
                    "title": "Seattle, Wa",
                    "title_suggest": "Seattle, Wa",
                    "edition_count": 1,
                    "edition_key": [
                        "OL8227475M"
                    ],
                    "publish_date": [
                        "December 2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "isbn": [
                        "9780841625044",
                        "0841625042"
                    ],
                    "last_modified_i": 1341770521,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL8227475M",
                    "cover_i": 1589730,
                    "publisher": [
                        "Langenscheidt Publishers"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2754912A"
                    ],
                    "author_name": [
                        "American Map Corporation"
                    ],
                    "publisher_facet": [
                        "Langenscheidt Publishers"
                    ],
                    "_version_": 1735676835903045632,
                    "author_facet": [
                        "OL2754912A American Map Corporation"
                    ]
                },
                {
                    "key": "/works/OL8415241W",
                    "type": "work",
                    "seed": [
                        "/books/OL7900945M",
                        "/works/OL8415241W",
                        "/authors/OL2806909A"
                    ],
                    "title": "Maritime Seattle    (WA)",
                    "title_suggest": "Maritime Seattle    (WA)",
                    "edition_count": 1,
                    "edition_key": [
                        "OL7900945M"
                    ],
                    "publish_date": [
                        "October 14, 2002"
                    ],
                    "publish_year": [
                        2002
                    ],
                    "first_publish_year": 2002,
                    "number_of_pages_median": 128,
                    "oclc": [
                        "51110404"
                    ],
                    "isbn": [
                        "9780738520643",
                        "0738520640"
                    ],
                    "last_modified_i": 1303894909,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL7900945M",
                    "cover_i": 466016,
                    "first_sentence": [
                        "Lieutenant Charles Wilkes, Commander of the first United States Naval Exploring Expedition, brought four ships, Vincennes, Peacock, Porpoise, and Relief, with scientists, naturalists, and botanists to Puget Sound in 1841."
                    ],
                    "publisher": [
                        "Arcadia Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2806909A"
                    ],
                    "author_name": [
                        "Gary White"
                    ],
                    "id_goodreads": [
                        "5127876"
                    ],
                    "id_librarything": [
                        "2751956"
                    ],
                    "publisher_facet": [
                        "Arcadia Publishing"
                    ],
                    "_version_": 1735676935111966722,
                    "author_facet": [
                        "OL2806909A Gary White"
                    ]
                },
                {
                    "key": "/works/OL8503469W",
                    "type": "work",
                    "seed": [
                  [...]
