---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=seattle,%20wa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.053 TT 0 0.071"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 356,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8290516W",
                    "type": "work",
                    "seed": [
                        "/books/OL8227475M",
                        "/works/OL8290516W",
                        "/authors/OL2754912A"
                    ],
                    "title": "Seattle, Wa",
                    "title_suggest": "Seattle, Wa",
                    "edition_count": 1,
                    "edition_key": [
                        "OL8227475M"
                    ],
                    "publish_date": [
                        "December 2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "isbn": [
                        "9780841625044",
                        "0841625042"
                    ],
                    "last_modified_i": 1341770521,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL8227475M",
                    "cover_i": 1589730,
                    "publisher": [
                        "Langenscheidt Publishers"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2754912A"
                    ],
                    "author_name": [
                        "American Map Corporation"
                    ],
                    "publisher_facet": [
                        "Langenscheidt Publishers"
                    ],
                    "_version_": 1735676835903045632,
                    "author_facet": [
                        "OL2754912A American Map Corporation"
                    ]
                },
                {
                    "key": "/works/OL8415241W",
                    "type": "work",
                    "seed": [
                        "/books/OL7900945M",
                        "/works/OL8415241W",
                        "/authors/OL2806909A"
                    ],
                    "title": "Maritime Seattle    (WA)",
                    "title_suggest": "Maritime Seattle    (WA)",
                    "edition_count": 1,
                    "edition_key": [
                        "OL7900945M"
                    ],
                    "publish_date": [
                        "October 14, 2002"
                    ],
                    "publish_year": [
                        2002
                    ],
                    "first_publish_year": 2002,
                    "number_of_pages_median": 128,
                    "oclc": [
                        "51110404"
                    ],
                    "isbn": [
                        "9780738520643",
                        "0738520640"
                    ],
                    "last_modified_i": 1303894909,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL7900945M",
                    "cover_i": 466016,
                    "first_sentence": [
                        "Lieutenant Charles Wilkes, Commander of the first United States Naval Exploring Expedition, brought four ships, Vincennes, Peacock, Porpoise, and Relief, with scientists, naturalists, and botanists to Puget Sound in 1841."
                    ],
                    "publisher": [
                        "Arcadia Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2806909A"
                    ],
                    "author_name": [
                        "Gary White"
                    ],
                    "id_goodreads": [
                        "5127876"
                    ],
                    "id_librarything": [
                        "2751956"
                    ],
                    "publisher_facet": [
                        "Arcadia Publishing"
                    ],
                    "_version_": 1735676935111966722,
                    "author_facet": [
                        "OL2806909A Gary White"
                    ]
                },
                {
                    "key": "/works/OL8503469W",
                    "type": "work",
                    "seed": [
                  [...]
